<div class="page-header">
<<<<<<< HEAD
<h1>All of the Statuses</h1>
</div>
<%= link_to "Post a New Status", new_status_path, class:"btn btn-success" %> 
<% @statuses.each do |status| %>
<div class="status">
<strong><%= status.name %></strong>
  <p><%= status.content %></p>
  <div class="meta">
    <%= link_to time_ago_in_words(status.created_at) + " ago", status %> |
    <span class="admin">
      <%= link_to "Edit", edit_status_path(status) %> |
      <%= link_to "Delete", status, method: :delete, data: {confirm: "Are you sure you want to delete this status?"  } %>
    </span>
  </div>
=======
<h1>All of the statuses</h1>
</div>
<%= link_to "Post a New Status", new_status_path, class: "btn btn-success" %>

<% @statuses.each do |status| %>
<div class="status">
<strong><%= status.name %></strong>
<p><%= status.content %></p>
<div class="meta">
		<%= link_to time_ago_in_words(status.created_at)+" ago",status %>
		<span class="admin"> |
			<%= link_to "Edit", edit_status_path(status) %> |
			<%= link_to "Delete", status, method: :delete,data: {confirm:"Are you sure?"} %>
		</span>
	</div>
>>>>>>> 2bc3b708f73d55dc9f15e7554abad71bc50b32e5
</div>
<% end %>